table{
    border: 1px solid red;
    border-collapse: collapse;

}

table td{
    border: 1px solid red;
}
table tr:nth-child(3) td{
    /*width: 80%;*/
    text-align: center;
}
table tr:nth-child(3) input{
    /*width: 80%;*/
    /*text-align: right;*/
    width: 100px;
}